// todo: disabled button styles
button {
  &:disabled {
    cursor: default;
  }
  &.disabled {
    cursor: default;
  }
}

// todo: brand button icon margin
.btn-brand:not(:only-child) {
  .c-icon {
    margin-top: 0 !important;
  }
}


.disabledClass{
  pointer-events: none;
  opacity: 0.5;
  background: #FFBB25;
  color: #fff !important;
  border-color: #FFBB25;
  border-radius: 5px;
}

span.error {
  color: red;
  margin-top: -15px;
  display: block;
  font-size: 12px;
  margin-bottom: 15px;
}


span.errors {
  color: red;
  
  display: block;
  font-size: 12px;
  margin-bottom: 15px;
}


.box.box-primary {
  background: white;
  padding: 15px;
}